.cards-index-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 80px 1fr;

}

.cards-index-header {
  padding: 10px 30px;
  border-bottom: 1px solid rgb(230, 230, 230);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  overflow: hidden;

  h1 {
    font-size: 28px;
  }

}

.card-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-template-rows: repeat(auto-fit, 400px);
  overflow: auto;
  padding: 10px 30px;
  justify-content: center;
}

.card-container {
  padding: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(177, 191, 206, 0.5);
  padding: 5px 20px;
  height: 350px;
  width: 270px;
  display: flex;
  justify-content: center;
  position: relative;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  transform-style: preserve-3d;
  transition: 250ms;

  h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 10px;
  }
}

.card:hover {
  --translate-y: -3px;
  box-shadow: 0 1px 5px 2px rgba(177, 191, 206, 1.0);
}

.card.flipped {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 2rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.front {
  display: grid;
  grid-template-rows: 200px 50px;

  h1 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 15px;
  }

  h3 {
    padding: 7px 0;
    font-size: 14px;
    font-weight: 600;
    // color: #696969;
    font-weight: 400;
  }

  p {
    font-weight: 300;
    padding-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: #4C82E6;
  }

  a:hover {
    text-decoration: underline;
  }


  form {
    text-align: center;
    padding: 10px;

    input[type=submit] {
      padding: 15px 20px;
      margin: 0 10px;
      border-radius: 100%;
      border: none;
      transition: .2s background-color ease-in-out;
      font-weight: 400;
      font-size: 16px;

    }

   .rating-button {
      background-color: rgb(245, 245, 245);
      &-easy {
        @extend .rating-button;
        &:hover {
          color: white;
          background-color: #4ecdc4;
        }
        &-selected {
          @extend .rating-button-easy;
          color: white;
          background-color: #4ecdc4;
        }
      }
      &-medium {
        @extend .rating-button;
        &:hover {
          color: white;
          background-color: #ffd97d;
        }
        &-selected {
          @extend .rating-button-medium;
          color: white;
          background-color: #ffd97d;
        }
      }
      &-hard {
        @extend .rating-button;
        &:hover {
          color: white;
          background-color: #ff6b6b;
        }
        &-selected {
          @extend .rating-button-hard;
          color: white;
          background-color: #ff6b6b;
        }
      }
    }
    

  }
}

.back {
  text-align: right;

  h2 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
  }

  textarea {
    resize: none;
    border: 1px solid #f2f2f2;
  }

  textarea:focus {
    // border: none
    border: 1px solid #8baeee;
  }
}

.flip-button {
  margin-left: 20px;

  background-color: transparent;
  color: #696969;
  font-weight: 400;
  border-radius: 5px;
  padding: 2px 7px 0 7px;
  transform: scaleY(1.05);
  border: none;
  transition: .2s background-color ease-in-out;
  outline: none;
  font-size: 22px;
}

.flip-button:hover {
  background-color: #f2f2f2;
  border: none;
}

.save-card-button {
  background: rgb(245, 245, 245);
  padding: 7px 15px;
  border-radius: 5px;
  color: #696969;
  margin-top: 10px;
  transition: .2s background-color ease-in-out;
}

.save-card-button:hover {
  background: #4C82E6;
  color: white;
}