.left-nav-div{
padding-top: 5%;
 grid-column-start: 1;
 grid-column-end: 2;
 height: 100vh;
 background-color:#f8f8ff;
 color:#696969;
//  width: 70%;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
   
   text-align: center;
}

.welcome-message{
    font-size: 15px;
    padding-top: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: 1px solid #C0C0C0;
  
}

.left-item-wrapper{
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C0C0C0;
}

.left-nav-button{
    letter-spacing: 1px;
    
    margin-top: 10px;
    margin-bottom: 10px;
   
    
    letter-spacing: 2px;

    color: #696969;
    text-decoration: none;
}

.deck-index-div{
    display: flex;
    flex-direction: column;
    
    text-decoration: none;
}

.deck-button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;

    
    margin-bottom: 20px;
    letter-spacing: 2px;

   
}

.deck-button:hover, .left-nav-button:hover{
    background-color: #DCDCDC;
}