.modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  animation-name: open;
  animation-duration: 300ms;

  &-reverse {
    animation-name: close;
  }

  @keyframes open {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes close {
    from {
      opacity: 1;
      z-index: 10;
    }

    to {
      opacity: 0;
      z-index: -1;
    }
  }

  .modal-child {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    min-width: auto;
    max-height: 100%;
    min-height: auto;
  }
}