.navbar-div{
    display: grid;
    grid-template-columns:  0.8fr 4fr 1fr;
    background-color: #444343;
    position: sticky;
    top: 0px;
    // padding: 5px 0px;
}

.navbar-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 50px;
        width: auto;
    }
}

.navbar-button-div{
    
    button {
        background-color: #4C82E6;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        transition: .1s background-color ease-in-out;
        font-size: 12px;
        letter-spacing: 1.2px;
        font-weight: 500;
        outline: none;
    }

    button:hover {
        background-color: white;
        color: #444343;
    }
}