.feed-container {
   display: grid;
   min-width: 200px;
   // height: 100vh;
   grid-template-rows: 80px 1fr;
   background-color: #f8f8ff;

   color: #696969;
   box-shadow: 0 0 3px 1px rgba(201, 221, 243, 0.5);
   justify-items: center;

   .feed-header {

      height: 100%;
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: 400;
      justify-items: end;
   }
}


.feed-body-container {
   display: grid;
   align-items: center;
   background-color: none;
   grid-template-rows: repeat(auto-fit, 100px);
   overflow: scroll;
   align-content: flex-start;
}

.feed-body-container::-webkit-scrollbar {
   display: none;
}




.feed-item {
   font-size: 14px;
   width: 100%;
   height: 100%;
   padding: 10px;
   align-self: center;
   background-color: #f8f8ff;



   &:nth-of-type(even) {
      background: #e9f0fe;
   }
}