.splash-hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #F8F8FF;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 7rem 20%;
  
  h1 {
    font-size: 56px;
    line-height: 70px;
    padding: 0 0 20px;
    color: #4C82E6;
    font-family: "Soleil_Bold",Helvetica,Arial,sans-serif;
  }

  .cta-container {
    text-align: center;
    max-width: 50em;
    margin: 0 auto;

    button {
      font-size: 16px;
      padding: 16px 50px;
      border-radius: 25px;
      background-color: #4C82E6;
      color: white;
      border: none;
      transition: .3s background-color ease-in-out;
      outline: none;
    }

    button:hover {
      background-color: #3067cc;
    }

    h5 {
      color: #696969;
      font-size: 20px;
      padding: 20px 0 15px 0;
      font-family: "Soleil_Medium",Helvetica,Arial,sans-serif;
      font-weight: 400;
    }

    h2 {
      font-size: 22px;
      padding: 0 0 10px;
      line-height: 30px;
      font-family: "Soleil",Helvetica,Arial,sans-serif;
    }
  }
  
  img {
    width: 100%;
    height: auto;
    padding: 10px 0 10px 40px;
    margin: 0 auto;

  }
}

.splash-content {
  padding: 3rem 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 50px;

  .callout-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(202, 213, 226, 0.5);

    h4 {
      align-self: center;
      padding: 20px 10px 10px 10px;
      font-size: 20px;
      font-family: "Soleil_Medium",Helvetica,Arial,sans-serif;
    }

    p {
      font-weight: 300;
      padding: 10px;
      font-size: 16px;
      color: #696969;
      font-family: "Soleil",Helvetica,Arial,sans-serif;
      line-height: 1.3;
    }
  }

  .callout-card:hover {
    transition:height 0.5s;
  }
}

.footer-cta {
  text-align: center;
  padding: 40px;
  background-color: #F8F8FF;
  clip-path: polygon(0 10%, 100% 35%, 100% 100%, 0 100%);
  padding: 10rem 20%;

  h2 {
    font-size: 24px;
    padding: 0 0 10px;
    font-family: "Soleil",Helvetica,Arial,sans-serif;
  }

  p {
    font-weight: 300;
    padding-top: 10px;
    font-size: 16px;
    color: #696969;
    font-family: "Soleil",Helvetica,Arial,sans-serif;
  }
}

.alt-cta {
  font-family: "Soleil_Bold",Helvetica,Arial,sans-serif;
  padding: 20px;

  a {
    font-weight: 900;
    text-decoration: none;
    color: #759FEB;
    transition: .2s color ease-in-out;
  }

  a:hover {
    color: #4C82E6;
  }
}

.footer {

}